:root {
  --font-family: "Noto Sans", sans-serif;
  --second-family: "Raleway", sans-serif;
  --borderRadius-10: 10px;
  --borderRadius-12: 12px;
  --borderRadius-16: 16px;
  --borderRadius-2: 2px;
  --borderRadius-20: 20px;
  --borderRadius-24: 24px;
  --borderRadius-28: 28px;
  --borderRadius-4: 4px;
  --borderRadius-6: 6px;
  --borderRadius-8: 8px;
  --boxShadow-default: 0px 1px 3px rgba(0, 0, 0, 0.05),
    0px 4px 30px rgba(0, 0, 0, 0.1);
  --component-badge-size-l-fontSize: 15px;
  --component-badge-size-l-height: 28px;
  --component-badge-size-l-padding: 3px 10px 5px 9px;
  --component-badge-size-l-pointHeight: 11px;
  --component-badge-size-m-fontSize: 13px;
  --component-badge-size-m-height: 24px;
  --component-badge-size-m-padding: 0 8px;
  --component-badge-size-m-pointHeight: 9px;
  --component-badge-size-s-fontSize: 11px;
  --component-badge-size-s-height: 19px;
  --component-badge-size-s-padding: 0 6px;
  --component-badge-size-s-pointHeight: 7px;
  --component-badge-size-xs-fontSize: 11px;
  --component-badge-size-xs-height: 14px;
  --component-badge-size-xs-padding: 0 4px;
  --font-fontSize-l: 18px;
  --font-fontSize-m: 16px;
  --font-fontSize-xxxl: 32px;
  --font-height-l-dense: 22px;
  --font-height-l-normal: 24px;
  --font-height-s-normal: 18px;
  --font-height-xl-dense: 26px;
  --font-height-xl-normal: 26px;
  --font-lineHeight-l1: 24px;
  --font-lineHeight-l2: 22px;
  --font-lineHeight-m1: 24px;
  --font-lineHeight-m2: 22px;
  --font-lineHeight-s1: 18px;
  --font-lineHeight-xl: 26px;
  --font-lineHeight-xxl: 30px;
  --font-lineHeight-xxxl: 36px;
  --font-size-l: 18px;
  --font-size-xxxxl: 32px;
  --font-weight-bold: 700;
  --font-weight-light: 100;
  --font-weight-normal: normal;
  --gap-0: 0px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-14: 14px;
  --gap-16: 16px;
  --gap-18: 18px;
  --gap-2: 2px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-24: 24px;
  --gap-28: 28px;
  --gap-32: 32px;
  --gap-36: 36px;
  --gap-4: 4px;
  --gap-40: 40px;
  --gap-44: 44px;
  --gap-48: 48px;
  --gap-52: 52px;
  --gap-56: 56px;
  --gap-6: 6px;
  --gap-60: 60px;
  --gap-64: 64px;
  --gap-72: 72px;
  --gap-8: 8px;
  --gap-80: 80px;
  --palette-beige100: #ede9e1;
  --palette-beige200: #e5dfd3;
  --palette-beige300: #dbd3c1;
  --palette-beige400: #cfc4ae;
  --palette-beige50: #f2efe9;
  --palette-beige500: #c2b69b;
  --palette-beige600: #b5a78a;
  --palette-beige700: #a89979;
  --palette-beige800: #9c8c6b;
  --palette-beige900: #8f7f5e;
  --palette-black: rgb(0, 0, 0);
  --palette-black12: rgba(0, 0, 0, 0.12);
  --palette-black16: rgba(0, 0, 0, 0.16);
  --palette-black20: rgba(0, 0, 0, 0.2);
  --palette-black24: rgba(0, 0, 0, 0.24);
  --palette-black28: rgba(0, 0, 0, 0.28);
  --palette-black32: rgba(0, 0, 0, 0.32);
  --palette-black36: rgba(0, 0, 0, 0.36);
  --palette-black4: rgba(0, 0, 0, 0.04);
  --palette-black40: rgba(0, 0, 0, 0.4);
  --palette-black44: rgba(0, 0, 0, 0.44);
  --palette-black48: rgba(0, 0, 0, 0.48);
  --palette-black52: rgba(0, 0, 0, 0.52);
  --palette-black56: rgba(0, 0, 0, 0.56);
  --palette-black60: rgba(0, 0, 0, 0.6);
  --palette-black64: rgba(0, 0, 0, 0.64);
  --palette-black68: rgba(0, 0, 0, 0.68);
  --palette-black72: rgba(0, 0, 0, 0.72);
  --palette-black76: rgba(0, 0, 0, 0.76);
  --palette-black8: rgba(0, 0, 0, 0.08);
  --palette-black80: rgba(0, 0, 0, 0.8);
  --palette-black84: rgba(0, 0, 0, 0.84);
  --palette-black88: rgba(0, 0, 0, 0.88);
  --palette-black92: rgba(0, 0, 0, 0.92);
  --palette-black96: rgba(0, 0, 0, 0.96);
  --palette-blue100: #cfedff;
  --palette-blue200: #a1dfff;
  --palette-blue300: #80d4ff;
  --palette-blue400: #45c1ff;
  --palette-blue50: #e6f6ff;
  --palette-blue500: #00aaff;
  --palette-blue600: #0099f7;
  --palette-blue700: #008aed;
  --palette-blue75: #d4f0ff;
  --palette-blue800: #007deb;
  --palette-blue900: #0075eb;
  --palette-fuchsia100: #ffe1ea;
  --palette-fuchsia200: #ffc7d7;
  --palette-fuchsia300: #ffacc5;
  --palette-fuchsia400: #ff8caf;
  --palette-fuchsia50: #fff0f4;
  --palette-fuchsia500: #f76893;
  --palette-fuchsia600: #f54a80;
  --palette-fuchsia700: #eb3672;
  --palette-fuchsia800: #e50965;
  --palette-fuchsia900: #d30658;
  --palette-gray12: #e0e0e0;
  --palette-gray16: #d6d6d6;
  --palette-gray20: #cccccc;
  --palette-gray24: #c2c2c2;
  --palette-gray28: #b8b8b8;
  --palette-gray32: #adadad;
  --palette-gray36: #a3a3a3;
  --palette-gray4: #f5f5f5;
  --palette-gray40: #999999;
  --palette-gray44: #8f8f8f;
  --palette-gray48: #858585;
  --palette-gray52: #7a7a7a;
  --palette-gray54: #757575;
  --palette-gray56: #707070;
  --palette-gray60: #666666;
  --palette-gray64: #5c5c5c;
  --palette-gray68: #525252;
  --palette-gray72: #474747;
  --palette-gray76: #3d3d3d;
  --palette-gray8: #ebebeb;
  --palette-gray80: #333333;
  --palette-gray84: #292929;
  --palette-gray88: #1f1f1f;
  --palette-gray92: #141414;
  --palette-gray96: #0a0a0a;
  --palette-green100: #d2fcc4;
  --palette-green200: #b1fca7;
  --palette-green300: #7cf782;
  --palette-green400: #45ed6f;
  --palette-green50: #e2ffd6;
  --palette-green500: #04e061;
  --palette-green600: #02d15c;
  --palette-green700: #00c257;
  --palette-green75: #e2ffd6;
  --palette-green800: #00b353;
  --palette-green900: #00a34c;
  --palette-orange100: #ffecc9;
  --palette-orange200: #ffdda1;
  --palette-orange300: #ffce75;
  --palette-orange400: #ffbf4d;
  --palette-orange50: #fff5e2;
  --palette-orange500: #ffb021;
  --palette-orange600: #fca400;
  --palette-orange700: #f79900;
  --palette-orange75: #ffedca;
  --palette-orange800: #f28d00;
  --palette-orange900: #f08400;
  --palette-purple100: #e9ddfd;
  --palette-purple200: #d5bdfb;
  --palette-purple300: #c2a0fa;
  --palette-purple400: #b184f8;
  --palette-purple50: #f3edfe;
  --palette-purple500: #a168f7;
  --palette-purple600: #965eeb;
  --palette-purple700: #8c4fe8;
  --palette-purple800: #8144db;
  --palette-purple900: #493072;
  --palette-red100: #ffe6e6;
  --palette-red200: #ffc5c6;
  --palette-red300: #ffacad;
  --palette-red400: #ff8c8f;
  --palette-red50: #ffedee;
  --palette-red500: #ff6163;
  --palette-red600: #ff4053;
  --palette-red700: #f71b47;
  --palette-red75: #ffe3e3;
  --palette-red800: #e8003e;
  --palette-red900: #d9013a;
  --palette-violet100: #e9ddfd;
  --palette-violet200: #d5bdfb;
  --palette-violet300: #c2a0fa;
  --palette-violet400: #b184f8;
  --palette-violet50: #f3edfe;
  --palette-violet500: #a168f7;
  --palette-violet600: #965eeb;
  --palette-violet700: #8c4fe8;
  --palette-violet800: #8144db;
  --palette-violet900: #493072;
  --palette-warmGray100: #0a0a0a;
  --palette-warmGray12: #e3e2e1;
  --palette-warmGray16: #dbdbd9;
  --palette-warmGray2: #f7f7f5;
  --palette-warmGray20: #d4d2cf;
  --palette-warmGray24: #cccbc8;
  --palette-warmGray28: #c2c1be;
  --palette-warmGray36: #adaca8;
  --palette-warmGray4: #f2f1f0;
  --palette-warmGray44: #999894;
  --palette-warmGray48: #8f8d8b;
  --palette-warmGray54: #7a7976;
  --palette-warmGray64: #5c5b58;
  --palette-warmGray68: #52514e;
  --palette-warmGray76: #3d3c3a;
  --palette-warmGray8: #ebeae8;
  --palette-warmGray84: #292827;
  --palette-warmGray88: #1f1e1d;
  --palette-white: #ffffff;
  --palette-yellow100: #fff5c9;
  --palette-yellow200: #ffeda3;
  --palette-yellow300: #ffe27a;
  --palette-yellow400: #ffd950;
  --palette-yellow50: #fff9de;
  --palette-yellow500: #ffcf24;
  --palette-yellow600: #fcc600;
  --palette-yellow700: #f7be00;
  --palette-yellow800: #f5b800;
  --palette-yellow900: #f2b200;
  --size-l-crossButtonIconSize: 12px;
  --size-l-crossButtonSize: 40px;
  --size-m-crossButtonIconSize: 12px;
  --size-m-crossButtonSize: 32px;
  --size-s-crossButtonIconSize: 10px;
  --size-s-crossButtonSize: 24px;
  --size-xl-fontSize: 18px;
  --size-xl-lineHeight: 22px;
  --size-xs-crossButtonIconSize: 10px;
  --size-xs-crossButtonSize: 24px;
  --module-button-backgroundColor: #00aaff;
  --module-button-backgroundColor-hover: #0099f7;
  --module-button-backgroundColor-active: #008aed;
}
