.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: black;
}

.title {
  margin-top: 20px;
  margin-bottom: 36px;
}

.mainContent {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}
